---
layout: default
title: Página inicial
---
<section id="featured-episode">
  <img src="/images/featured-episode.jpg" alt="{{ site.featured.title }}" title="{{ site.featured.title }}" />
  <a href="{{ site.posts.first.url }}" class="lastepi" title="Ouça o último episódio"><span>Ouvir Ep. {{ site.posts | size | minus:2 }}</span></a>
</section>

<nav id="listen">
  <ul>
    <li class="rss"><a href="/atom.xml" rel="external" title="RSS"><span>Assinar por RSS</span></a></li>
    <li class="itunes"><a href="http://itunes.apple.com/us/podcast/grok-podcast/id393122038" title="iTunes" rel="external"><span>Assinar por iTunes</span></a></li>
  </ul>
</nav>
<section id="content">
  <section id="series-list">
    <div id="list-title">
      <h1>Conheça nossas séries</h1>
    </div>
    <ul>
      {% for post in site.posts %}
        {% if post.part == 1 %}
          <li>
            {% include series_thumb.html %}
            {% include episodes_overlay.html %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</section>
