---
layout: default
title: Groke e divirta-se conosco!
---
<section id="featured-episode">
  <img src="/images/2013/05/header-csharp-typescript.jpg" alt="{{ site.featured.title }}" title="{{ site.featured.title }}" />
  <a href="{{ site.posts.first.url }}" class="lastepi" title="Ouça o último episódio"><span>Ouvir Ep. {{ site.posts | size | minus:4 }}</span></a>
</section>

<nav id="listen">
  <ul>
    <li class="rss"><a href="/atom.xml" rel="external" title="RSS"><span>Assinar por RSS</span></a></li>
    <li class="itunes"><a href="http://itunes.apple.com/us/podcast/grok-podcast/id393122038" title="iTunes" rel="external"><span>Assinar por iTunes</span></a></li>
    <li class="facebook"><a href="https://www.facebook.com/GrokPodcast" target="_blank" rel="external" title="Acesse o facebook do GrokPodcast"><img src="/images/facebook.png" title="Acesse o facebook do GrokPodcast" /></a></li>
    <li class="twitter"><a href="https://twitter.com/GrokPodcast" target="_blank" rel="external" title="Acesse o twitter do GrokPodcast"><img src="/images/twitter.png" title="Acesse o twitter do GrokPodcast" /></a></li>
  </ul>
</nav>
<section id="content">
  <section id="regular-series" class="series-list">
    <div class="list-title">
      <h1>Conheça nossas séries</h1>
    </div>
    <ul>
      {% for post in site.posts %}
        {% if post.section != 'extra' and post.episode == 1 %}
          <li>
            {% include series_thumb.html %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
  <section id="extra-episodes" class="epi-list">
    <div class="list-title">
      <h1>Episódios extras</h1>
    </div>
    <ul>
      {% for post in site.posts %}
        {% if post.section == 'extra' %}
          <li>
            {% include single_episode.html %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</section>
