<header>

  <h1>
    <a href="/">
      <img src="/images/logo.png" alt="Grok Podcast">
    </a>
  </h1>

  <ul>
    <li id="guy-01">
      <a href="/sobre-rafael-rosa-fu" class="guy-profile">Rafael Rosa Fu</a><br>
      <a href="http://www.twitter.com/rafaelrosafu" target="_blank" class="twitter-link">
        @rafaelrosafu
      </a>
    </li>

    <li id="guy-02">
      <a href="/sobre-carlos-brando" class="guy-profile">Carlos Brando</a><br>
      <a href="http://www.twitter.com/carlosbrando" target="_blank" class="twitter-link">
        @carlosbrando
      </a>
    </li>
  </ul>

</header> <!-- /header -->

<nav id="navigation">

  <ul id="nav-principal">
    <li><a href="/">Início</a></li>
    <li><a href="/grok">O que é Grok?</a></li>
    <li><a href="/arquivo">Arquivo</a></li>
    <li><a href="/apoios">Apoios</a></li>
    <li><a href="/contato">Contato</a></li>
    <li><a href="/newsletter">Newsletter</a></li>
    <li id="search">
      <form class="navbar-search pull-right visible-desktop" action="http://www.google.com/cse">
        <input type="hidden" name="cx" value="010262033250521777854:kinv5r-xy-m" />
        <input type="hidden" name="cof" value="FORID:0" />
        <input name="q" class="search-query" type="text" placeholder="buscar por...">
      </form>
    </li>
  </ul>

</nav> <!-- /navigation -->
