  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="pt-br">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <title>Grok Podcast | {{ page.title }}</title>

  <meta name="robots" content="index, follow">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.ico" sizes="64x64">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Open Graph -->
  <meta content="Grok Podcast" property="og:title">
  <meta content="http://www.grokpodcast.com" property="og:url">

  <meta content="images/favicon.ico" property="og:image">
  <meta content="" property="og:description">

  <!-- Viewport Config -->
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <!-- Media -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
