@charset "utf-8";

/*
2014 Grok Podcast
Author: HE:labs
*/

body, h1, h2, h3, h4,
form, fieldset, input, label, p,
em, strong, a, img, ul, li {
	padding:0; margin:0; border:0;
	vertical-align:baseline;
	font-style:normal;
}

header, footer, aside, nav, article, section {display:block}

html {font-size:62.5%}

label {cursor:pointer}
img {border:none}

ul {margin:0; padding:0}
li {list-style-type:none}

a {
	text-decoration:none;
	cursor:pointer;
	color:#218af4;
}

a:hover {
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	color:#59abff;
}


/* General */

body {
  border-top:5px solid #ffca00;
	font-family:"Lucida Grande", Lucida, sans-serif;
	background:#000 url("/images/bg.jpg") top right no-repeat;
	font-size:14px;
  line-height:20px;
	color:#797a7a;
	margin:0;
}

p {
  margin:25px 0 0 0;
  line-height:26px;
  font-size:16px;
}

h1 a {
	text-indent:-9999px;
	outline:none;
	float:left;
}

h1 a:hover {
    opacity:.9;
}

h2 {
  width:100%;
  font-weight:normal;
  float:left;
}

h3, h4 {
  width:100%;
  border-bottom:1px solid #ececec;
  padding:0 0 10px 0;
  margin:35px 0 25px 0;
  font:20px Arial, sans-serif;
  font-weight:normal;
  float:left;
}

h3 {
  color:#7b7b90;
}

h4 {
  color:#333;
}

.input-hide {
  display:none;
}

address {
	 color:#b7bcbc;
}


/* Page */

.holder {
  width:940px;
  padding:0 10px 0 10px;
	margin:auto;
}


/* Topbar */

#topbar {
  display:none;
}


/* Header */

header {
  margin:40px 0 40px 0;
  float:left;
}

header h1 a {
	width:328px; height:50px;
	background:url("/images/logo.png");
  margin:20px 0 0 30px;
  float:left;
}

@media only screen and (min-resolution: 192dpi) {

	header h1 a {
	    background:url("/images/logo2x.png");
	    background-size:328px 100px;
	}

}


/* Time */

header ul {
  padding:0;
  float:right;
}

header li {
  height:50px;
  line-height:23px;
  font-size:17px;
  margin-right:30px;
  color:#fff;
  float:right;
}

header li:first-child {
  margin-left:0 !important;
}

header .guy-profile {
  color: #fff;
}

header .twitter-link, footer a {
  font-size:15px;
  color:#8c88fc;
}

header a:hover, footer a:hover {
  color:#cccaf7;
}

/*-*/

#guy-01, #guy-02 {
  height:59px;
	background:url("/images/time.png") left top no-repeat;
  padding:15px 0 0 90px;
}

#guy-01 {
  background-position:0 0;
}

#guy-02 {
  background-position:0 -74px;
}


/* Nav */

#navigation {
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  height:60px;
  background:#7b7b90;
  padding:0 20px;
  float:left;
}

#nav-principal {
  font-size:18px;
}

#nav-principal li {
  line-height: 60px;
  margin-right: 15px;
  float: left;
  padding-right: 15px;
  border-right: 1px rgba(255,255,255,.2) solid;
}

#nav-principal a {
  color: #f1f1ff;
}

#nav-principal a:hover {
  color: #fff;
}

#nav-principal #search {
  padding: 0;
  border: none;
  margin: 11px 0 0 0;
  float: right;
}

#nav-principal #search input[type="text"] {
  border-radius: 2px;
  background: #eeeef7;
  font: 14px "Lucida Grande", Lucida, sans-serif;
  border: none;
  height: 37px;
  line-height: 37px;
  outline: none;
  padding: 0 10px;
  float: right;
}


/* Post Infos */

#post-infos,
#series-infos {
  width:880px;
  padding:0 30px 0 30px;
  float:left;
}

#post-infos {
  height: 150px;
  background: #4b4b4b;
}

#series-infos {
  background: #575766;
  height: 110px;
}

#series-infos #serie-name{
  background: #575766;
  height: 110px;
}

#serie-name {
  font-size: 26px;
  color: #fff;
}

#serie-name strong {
  color: #e4e4ff;
  font-weight: normal;
}

#serie-name a {
  color: #fff;
}

#post-infos h2 {
  font-size: 20px;
  margin: 10px 0 20px 0;
  font-weight: normal !important;
  color: #c9c9c9;
}


/* Content */

#content {
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  width:880px;
  background:#fff;
  padding:0 30px 40px 30px;
	float:left;
}

.static #content {
  padding-top: 20px;
}

#entry {
	width:550px;
  padding:26px 0 0 0;
  float:left;
}

#entry ul {
  clear: both;
  margin-left: 20px;
  padding: 0;
}

#entry li {
  list-style-type: disc;
  margin-bottom: 5px;
}


/* Post Actions */

#post-actions {
  width:100%; height:55px;
  border-bottom:1px solid #ececec;
  line-height:55px;
  float:left;
}

#post-actions li {
  margin-right:40px;
  float:left;
}

#post-actions a {
    color:#6a6aac;
}

#post-actions a:hover {
    color:#8d8de0;
}


/* Shownotes */

.sample {
  width:100%;
  float:left;
}

.sample li {
  width:100%;
  margin:15px 0 0 0;
  float:left;
}

.sample a {
  width:100%;
  clear:both;
  float:left;
}

.sample li:first-child {
  margin-top:0;
}


/* Aside */

aside {
  margin-top:-21px;
  padding-bottom:40px;
	float:right;
}

aside img {
  border:1px solid #ececec;
}

aside p {
  font-size:14px !important;
  line-height:24px;
}


/* Footer */

footer {
  width:100%;
  text-align:center;
  margin:20px 0 80px 0;
  color:#fff;
  float:left;
  font-size: 12px;
}

footer p {
  margin:0;
  line-height:25px;
  font-size:12px;
}

#footer-logo {
  width:100%; height:76px;
	background:url("/images/footer-logo.png") center no-repeat;
  margin:15px 0 30px 0;
  text-indent:-9999px;
  opacity:.7;
  float:left;
}

@media only screen and (min-resolution: 192dpi) {

	#footer-logo {
	    background:url("/images/footer-logo2x.png");
	    background-size:50px 152px;
	}

}

#footer-logo:hover {
  opacity:.9;
}

#featured-episode {
  position: relative;
  width: 940px;
  height: 301px;
  clear: both;
}

#featured-episode h2,
#featured-episode h3,
#featured-episode img {
  position: absolute;
}

#featured-episode img {
  left: 0;
  top: 0;
}

#featured-episode h2,
#featured-episode h3 {
  color: #FAFA1E;
  bottom: 85px;
  left: 35px;
}

#featured-episode h3 {
  color: #fff;
  border-bottom: 0;
  font-size: 24px;
  bottom: 20px;
}

#listen {
  background: #444;
  width: 870px;
  clear: both;
  padding: 15px 35px;
  overflow: hidden;
}

#listen ul {
  overflow: hidden;
  margin: 0 auto;
}

#listen li {
  float: left;
}

#listen a, .lastepi {
  text-indent: 52px;
  color: #fff;
  display: block;
  padding: 18px 0;
  font-size: 16px;
  overflow: hidden;
}

#listen li.facebook,
#listen li.twitter {
  height: 48px;
  width: 48px;
}

#listen li.facebook {
  margin-right: 15px;
}

#listen li.facebook a,
#listen li.twitter a {
  padding: 3px 0 0;
  display: inline;
  overflow-x: visible;
  overflow-y: visible;
}

#listen a span, .lastepi span {
  display: block;
  text-align: center;
}

.lastepi {
  width: 193px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: url('/images/play-button.png') no-repeat left top;
}

.lastepi:hover {
  color: #fff;
}

.rss {
  width: 215px;
  margin-right: 70px;
}

.rss a {
  background: url('/images/rss-button.png') no-repeat left top;
}

.itunes {
  width: 240px;
  margin-right: 234px;
}

.itunes a {
  background: url('/images/itunes-button.png') no-repeat left top;
}

.epi-list, .series-list {
  margin-top: 25px;
}

.list-title {
  line-height: 12px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #000;
}

#regular-series .list-title h1 {
  width: 220px;
}   

#extra-episodes .list-title h1 {
  width: 165px;
}

.epi-list h1, .list-title h1 {
  background: #fff;
  padding: 4px 10px 4px 0;
  font-weight: normal;
  color: #888;
  position: relative;
  top: 10px;
  width: 190px;
}

.epi-list ul, .series-list ul {
  overflow: hidden;
  width: 940px;
}

.epi-list li {
  float: left;
  width: 270px;
  height: 360px;
  margin-right: 35px;
  margin-bottom: 50px;
}

.epi-list li span {
  font-size: 12px;
  color: #787878;
  display: block;
  margin-top: 5px;
}

.epi-list li h3 {
  font-size: 13px;
  text-transform: uppercase;
  margin: 5px 0 0 0;
  padding: 0;
  border: 0;
}

.epi-list li h2, .series-list li h2 {
  margin: 10px 0;
  font-size: 18px;
  line-height: 24px;
  color: #555;
}

.epi-list li img, .series-list li img {
  min-height: 180px;
  max-width: 270px;
}

.epi-list .post-image, .series-list .serie-image {
  overflow: hidden;
  height: 180px;
  text-align: center;
}

.epi-list .listen-epi {
  width: 60px;
  clear: both;
  line-height: normal;
  background: url("/images/listen-button.png") no-repeat;
  color: #fff;
  font-size: 16px;
  margin: 0;
  display: block;
  padding: 13px 0px 13px 47px;
}

.series-list li {
  float: left;
  width: 270px;
  height: 230px;
  margin-right: 35px;
  margin-bottom: 50px;
  position: relative;
}

.series-list li:hover .serie-posts {
  display: block;
}

.series-list li a {
  float: left;
  display: block;
}

.series-list .serie-posts {
  height: 150px;
  width: 250px;
  background: rgba(0,0,0,.5);
  font-size: 13px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 0 20px 20px;
}

.serie-posts > span {
  display: block;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 8px;
}

.series-list .serie-posts a {
  background: #7B7B90;
  color: #fff;
  display: block;
  padding: 20px;
  float: left;
  font-size: 38px;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.series-list .serie-posts a:hover {
  background: #FFCA00;
}

#podcast {
  display: block;
  margin: 30px 0;
}

#podcast-infos {
  width: 880px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px #ececec solid;
  padding: 18px 0 10px 0;
  font-size: 16px;
}

#podcast-infos #published_on {
  margin-left: 20px;
}

.duration {
  padding: 5px 0 5px 35px;
  width: 80px;
  background: url("/images/time-ico.png") no-repeat left top;
  display: inline-block;
}

.download-podcast {
  padding: 5px 0 5px 35px;
  width: 80px;
  background: url("/images/download-ico.png") no-repeat left top;
  display: inline-block;
  color: #8c88fc;
}

.support a {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

footer .support {
  float: left;
  width: 250px;
}

footer p.license {
  float: right;
  text-align: right;
  width: 600px;
}

footer div.cloudflare {
  display: inline-block;
}

#about aside {
  margin: 0px 10px 0px 0px;
  float: left;
}

#profile {
}

#profile .content {
  width: 640px;
  float: left;
}

#profile .content ul {
  margin:10px 0 0 20px;
}

#profile .content li {
  list-style-type: disc;
  margin-bottom: 5px;
}

#profile .content p:first-child {
  margin-top: 0;
}

#profile .image {
  width: 200px;
  float: left;
  margin-right: 30px;
}

#disqus_thread {
  float: left;
  margin-top: 30px;
  clear: both;
  width: 100%;
}
#contact {}

#contact input,
#contact textarea,
#search-404 input,
#search-404 textarea {
  font-family: "Lucida Grande",Lucida,sans-serif;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  width: 400px;
}

#contact input[type="submit"],
#search-404 input[type="submit"] {
  width: 200px;
  background: #7b7b90;
  color: #fff;
  border: 1px rgb(87, 87, 129) solid;
  box-shadow: inset 0 0 1px rgba(255,255,255,.8);
}

#search-404 input {
  float: left;
  margin-right: 10px;
}

#search-404 {
  margin-top: 20px;
}

#contact textarea {
  height: 140px;
  resize: none;
}

#mobile-navigation {
  display: none;
}
