@charset "utf-8";


/* Viewport */

html,
body {
  width: 100%;
  overflow-x: hidden;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0;
}


/*
Max Width, 960px
Media Queries for Tablets
------------------------------------------------------------------------------*/

@media (max-width: 960px) {


  /* Page */

  .holder {
    width: 700px;
  }


  /* General */
  
  #search {
    display: none;
  }

  header ul {
    display: none;
  }


  /* Content */

  #entry {
  	width: 370px;
  }


  /* Aside */

  aside {
    width: 230px;
  }

  aside img {
    width: 228px;
  }

}


/*
Max Width, 686px
Media Queries for Smartphones
------------------------------------------------------------------------------*/

@media only screen and (max-width: 686px) {

  /* General */

  body {
    background: #7b7b90 !important;
  }


  /* Page */

	.holder {
    overflow: hidden;
		width: 92%;
	}

  #navigation {
    display: none;
  }

  #content {
    border-radius: 4px;
  }
  
  
  /* Home */

  #featured-episode {
    border-radius: 4px;
    background: #444;
    height: auto;
    padding: 15px 0 13px 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #featured-episode img {
    display: none;
  }

  #featured-episode a {
    margin: 0 auto;
    position: static;
  }

  #listen {
    display: none;
  }

  #listen ul {
    overflow: visible;
    width: auto;
  }

  #listen li {
    margin: 5px auto;
    float: none;
  }
  
  
  /* Series */

  .series-list {
    margin-top: 10px;
  }

  .series-list ul {
    width: auto;
  }

  .series-list li {
    float: none;
    margin: 0 auto 50px auto;
  }


  /* Topbar */

  #topbar {
    width:100%; height:56px;
  	background:#3a3f53;
    border-bottom:5px solid #bbbbcd;
    float:left;
    z-index:200;
    display:block;
  }

  #topbar a {
    text-shadow:none;
    height:44px;
  	background:#5a5a5a;
    line-height:44px;
    padding:0 15px 0 15px;
    margin-left:1px;
    color:#d5d5d5;
    float:right;
  }

  #topbar h1 a {
  	width:120px; height:40px;
  	background:url("/images/m-logo.png") left no-repeat;
    padding:0 0 0 55px;
    margin:8px 0 0 0;
    font-size:15px;
    text-indent:inherit;
    color:#fff;
    float:left !important;
  }

	@media only screen and (min-resolution: 192dpi) {

  	h1 a {
  	    background:url("/images/m-logo2x.png") left no-repeat;
  	    background-size:120px 80px;
  	}

	}


  /* Header */

  header {
    display: none;
  }


  /* Nav */

  #navigation {
    border-radius:0;
    width:200px;
    position:fixed;
    right:2%; top:2%;
    background:#ccc;
    padding:0;
    z-index:200;
  }


  /* Post Infos */

  #post-infos {
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    width:90%; height:auto;
    margin-top:20px;
    padding:0 5% 20px 5%;
  }

  #podcast-infos {
    width: auto;
    margin-bottom: 20px;
  }


  /* Content */

  #content {
    width:90% !important;
    padding:0 5% 0 5% !important;
  }

  #entry {
  	width:100%;
    padding:0;
  }


  /* Content */

	#content {
		width:100%;
    padding:30px 0 0 0;
	}


  /* Aside */

  aside {
    width:100%;
  }

  aside img {
    display:none;
  }


	/* Footer */

	footer {

	}

  footer .support,
  footer p.license {
    float: none;
    width: auto;
    text-align: center;
  }

  /* Custom profile page rules */
  #profile .content {
    width: 100%;
  }

  /* Custom podcast episode rules */
  #podcast audio {
    width: 100%;
  }

  /* Custom mobile navigation rules */
  #mobile-navigation {
    display: block;
  }
  #mobile-navigation ul {
    padding: 10px 0px 10px 0;
  }
  #mobile-navigation li {
    background-color: #3a3f53;
    padding: 2px;
    margin: 4px 0px 4px 0px;
  }

  /* Custom image size on support page */ 
  div.support img {
    width: 100%;
    height: 100%;
  }

  /* Custom episode list rules */
  .epi-list li {
    float: none;
  }

  /* Custom contact page rules */
  #contact input,
  #contact textarea,
  #search-404 input,
  #search-404 textarea {
    width: 80%;
  }
}


/* Max Width, 601px */

@media (max-width:601px) {



}


/* Max Width, 381px */

@media (max-width:381px) {

  /* Content */

  #entry h2 {
  	font-size:20px;
    line-height:30px;
  }

}

/* Max Width, 281px */

@media (max-width:281px) {



}