<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% include head.html %}
</head>
  <body>
    {% include topbar.html %}

    <div class="holder">

      {% include header.html %}

      <section id="post-infos">

        <p id="serie-name">
          {{ page.serie }}
        </p>

        <h2>{{ page.title }}</h2>

      </section> <!-- /post-infos -->

      <section id="content">

        <section id="podcast-infos">
          <div class="duration">
            {{ page.duration }}
          </div>

          <a href="{{ page.podcast_file_url }}" title="Download">Download</a>
        </section>

        <div id="entry">
          {{ content }}
        </div>

        <aside>
          <img class="alignleft size-medium wp-image-305" src="{{ page.img_src }}" alt="{{ post.img_alt }}" title="{{ post.img_title }}" width="300" />
        </aside>
      </section>
    </div> <!-- holder -->

    {% include footer.html %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascripts/gp.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>